.clientstestimonial{
    width: 100%;
    background-color: #d9dfe5;
    display: flex;
    justify-content: center;
}

.clientstestimonial__container{
    width: 280px;
    padding: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.clientstestimonial__title{
    font-size: 30px;
    font-weight: 600;
}

.clientstestimonial__separador{
    width: 30px;
    height: 3px;
    background-color: #394aff;
}


@media screen and (min-width: 425px){

    .clientstestimonial__container{
        width: 380px;
    }
}

@media screen and (min-width: 768px){

    .clientstestimonial__container{
        width: 680px;
    }

    .clientstestimonial__separador{
        width: 50px;
        height: 5px;
    }
}

@media screen and (min-width: 1440px){

    .clientstestimonial__title{
        font-size: 45px;
        font-weight: 600;
    }
}