.experiencecounter{
    width: 100%;
    background-image: url("/images/profesiona-cleaning-king-clean-1.webp");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.experiencecounter__filter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.experiencecounter__container{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 280px;
    padding: 30px 0;
    gap: 15px;
}

.experiencecounter__box{
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.experiencecounter__box svg{
    width: 60px !important;
    height: 60px !important;
    fill: #394aff;
}

.experiencecounter__number{
    font-weight: 600;
    font-size: 22px;
    color: #394aff;
}

.experiencecounter__text{
    text-align: center;
}


@media screen and (min-width: 375px){
    .experiencecounter__container{
        width: 340px;
    }
}

@media screen and (min-width: 425px){
    .experiencecounter__container{
        width: 375px;
    }
}

@media screen and (min-width: 768px){
    .experiencecounter__container{
        width: 600px;
        gap: 30px;
    }

    .experiencecounter__box{
        width: 280px;
    }
}

@media screen and (min-width: 1024px){
    .experiencecounter__container{
        width: 900px;
        gap: 30px;
        padding: 80px 0;
    }

    .experiencecounter__box{
        width: 200px;
    }
}

@media screen and (min-width: 1440px){
    .experiencecounter__container{
        width: 1100px;
    }

    .experiencecounter__box{
        width: 250px;
    }
}