.summaryofservices{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    padding-top: 30px;
    padding-bottom: 60px;
}

.summaryofservices__container{
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.summaryofservices__servicelist, .summaryofservices__servicelist2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.summaryofservices__servicelist{
    align-items: flex-start;
}
.summaryofservices__servicelist2{
    align-items: flex-end;
}

.summaryofservices__service, .summaryofservices__service2{
    width: 250px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.summaryofservices__service{
    padding: 20px 50px 20px 20px;
}

.summaryofservices__service2{
    padding: 20px 20px 20px 50px;
}

.summaryofservices__title, .summaryofservices__title2{
    color: #333;
    font-weight: 600;
}

.summaryofservices__title{
    text-align: end;
}

.summaryofservices__title2{
    text-align: start;
}

.summaryofservices__decoration, .summaryofservices__decoration2{
    display: flex;
    gap: 20px;
}

.summaryofservices__decoration{
    justify-content: flex-end;
}

.summaryofservices__decoration2{
    justify-content: flex-start;
}

.summaryofservices__decoration-lead{
    height: 2px;
    width: 70px;
    background-color: #ccc;
}

.summaryofservices__decoration-blue{
    height: 2px;
    width: 30px;
    background-color: #394aff;
}

.summaryofservices__description{
    color: #333232;
}

.summaryofservices__description{
    text-align: end;
}

.summaryofservices__description2{
    text-align: start;
}

.summaryofservices__icon, .summaryofservices__icon2{
    background-color: #394aff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
}

.summaryofservices__icon{
    right: -40px;
}

.summaryofservices__icon2{
    left: -40px;
}

.summaryofservices__icon svg, .summaryofservices__icon2 svg{
    fill: white;
    width: 40px !important;
    height: 40px !important;
}


.summaryofservices__image{
    display: none;
}


@media screen and (min-width: 375px){
    .summaryofservices__container{
        width: 300px;
    }
}

@media screen and (min-width: 425px){
    .summaryofservices__container{
        width: 350px;
    }

    .summaryofservices__service, .summaryofservices__service2{
        width: 300px;
    }
}

@media screen and (min-width: 768px){
    .summaryofservices__container{
        flex-direction: row;
        width: 650px;
        gap: 70px;
    }

    .summaryofservices__service, .summaryofservices__service2{
        width: 280px;
    }
}

@media screen and (min-width: 1024px){

    .summaryofservices__container{
        width: 900px;
        gap: 20px;
    }

    .summaryofservices__service, .summaryofservices__service2{
        width: 250px;
        height: 200px;
    }

    .summaryofservices__image{
        width: 300px;
        display: flex;
    }

    .summaryofservices__box-image{
        position: relative;
        width: 300px;
        height: 500px;
    }
}

@media screen and (min-width: 1440px){
    .summaryofservices__container{
        width: 1100px;
    }

    .summaryofservices__service, .summaryofservices__service2{
        width: 300px;
    }

    .summaryofservices__service{
        padding: 20px 70px 20px 20px;
    }
    
    .summaryofservices__service2{
        padding: 20px 20px 20px 70px;
    }

    .summaryofservices__title, .summaryofservices__title2{
        font-size: 18px;
    }

    .summaryofservices__icon, .summaryofservices__icon2{
        width: 100px;
        height: 100px;
    }

    .summaryofservices__icon{
        right: -50px;
    }
    
    .summaryofservices__icon2{
        left: -50px;
    }
    
    .summaryofservices__icon svg, .summaryofservices__icon2 svg{
        fill: white;
        width: 60px !important;
        height: 60px !important;
    }

    .summaryofservices__image{
        width: 350px;
    }

    .summaryofservices__box-image{
        position: relative;
        width: 400px;
        height: 800px;
    }
}