.whatsappbutton{
    position: fixed;
    right: 20px;
    bottom: 30px;
    z-index: 1002;
    cursor: pointer;
}

.whatsappbutton__container-img{
    width: 50px;
    height: 50px;
    position: relative;
    transition: all .3s;
}

.whatsappbutton:hover .whatsappbutton__container-img{
    transform: scale(1.1);
}