*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url(./components/header/header.css);
@import url(./components/header/navbar.css);
@import url(./components/header/submenu.css);

@import url(./components/main/bannermaincomponents.css);
@import url(./components/topContactBar/topcontactbar.css);

@import url(./components/experience/experience.css);

@import url(./components/home/summaryofservices.css);

@import url(./components/footer/calltoactionfooter.css);
@import url(./components/footer/contactfooter.css);
@import url(./components/footer/copyrightfooter.css);
@import url(./components/footer/footercomponents.css);
@import url(./components/footer/formfooter.css);
@import url(./components/footer/menufooter.css);